.App {
  background-image: url('../../public/images/background.png');
  min-height: 350vh;
  background-attachment: fixed;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.remark-text {
  color: #6a9955;
}





