.Career {
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 30%;
}

.section1 {
    margin: 30px 10px 10px 5%;
    border: 1px solid #eee;
    width: 30%;
    height: 100px;
    animation: fadein 9s;
}
.section2 {
    width:30%;
    height: 100px;
    margin: 30px 10px 10px 10px;
    border: 1px solid #eee;
    animation: fadein 9s;

}
.section3 {
    width:30%;
    height: 100px;
    margin: 30px 10px 10px 10px;
    border: 1px solid #eee;
    animation: fadein 9s;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}