body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html { font-size: 62.5%; } */

@media (min-width: 576px) {
  html { font-size: 50%; }
}

/* Tablet */
@media (min-width: 768px) {
  html { font-size: 60%; }
}

/* Desktop */
@media (min-width: 992px) {
  html { font-size: 70%; }
}

/* Desktop (Large) */
@media (min-width: 1200px) {
  html { font-size: 80%; }
}

/* 
@media (max-width: 700px) {
  html { font-size: 60%; }
}

@media (max-width: 1200px) {
  html { font-size: 80%; }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
