.profile-introduce {
    padding-top: 13vw;
    font-size: 1.7rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}
.profile-title {
    /* margin-left: 3vw; */
}

.my-profile {
    animation: fadein 2s;
    display: inline-block;
}

.mint-text {
    color: #99ce9b;
}

@media (min-width: 501px) and (max-width: 700px) {
    .profile-introduce { padding-top: 70%; }
    .mobile-insta {
        background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    }
    .mobile-git {
        background-color: black;
    }
}

@media (min-width: 1px) and (max-width: 500px) {
    .profile-introduce { padding-top: 50%; }
    .mobile-insta {
        background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    }
    .mobile-git {
        background-color: black;
    }
}


.my-info {
    animation: fadein 5s;
    margin-left: 8%;
}

.hoisting-section {
    animation: fadein 6s;
}

.blue-text {
    color: #3482b9;
}

.remark-text {
    color: #6a9955;
}

.sky-blue-text {
    color: #69cdfb;
}

.white-text {
    color: white;
}

.brown-text {
    color: #be795c;
}

.cursor {
    color: white;
    font-weight: 100;
    animation: blink-effect 1s step-end infinite;
}

.remark {
    color: #6a9955;
    font-size: 2rem;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }


a {
    text-decoration-line: none;
}
a span {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a span:nth-of-type(2) {
  bottom: 7%;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow-section {
    bottom: 0;
}

ul {
    text-align: center;
    animation: fadein 7s;
}

ul > li {
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float:left;
    line-height: 40px;
    font-size: 20px;
    margin-left: 7%;
}

ul > li > a {
    color: white;
}

.mobile-circle {
    font-size: 10px;
    color: #eee;
    cursor: pointer;
    
}

.insta :hover {
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}

.git :hover {
    background-color: black;
}

.circle :hover {
    background-color: #eee;
    color: black;
}