.profile-introduce {
    padding-top: 13vw;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
}

.my-profile {
    animation: fadein 2s;
    width: 300px;
    margin: auto;
}

.profile-title {
    width: 300px;
    margin: auto;
}

.mint-text {
    color: #99ce9b;
}

.my-info {
    animation: fadein 5s;
    margin-left: 15px;
}

.hoisting-section {
    animation: fadein 6s;
}

.blue-text {
    color: #3482b9;
}

.remark-text {
    color: #6a9955;
}

.sky-blue-text {
    color: #69cdfb;
}

.white-text {
    color: white;
}

.brown-text {
    color: #be795c;
}

.remark {
    color: #6a9955;
    font-size: 2rem;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

a {
    text-decoration-line: none;
}
a span {
  position: absolute;
  bottom: 13%;
  left: 48%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a span:nth-of-type(2) {
  bottom: 14%;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow-section {
    bottom: 0;
}

ul {
    text-align: center;
    animation: fadein 7s;
}

ul > li {
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 20px;
    margin-right: 10px;
}

ul > li > a {
    color: white;
}

.mobile-circle {
    font-size: 7px;
    color: #eee;
    cursor: pointer;
}

.mobile-circle2 {
    font-size: 7px;
    color: #eee;
    cursor: pointer;
}

.insta :hover {
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}

.git :hover {
    background-color: black;
}

.circle :hover {
    background-color: #eee;
    color: black;
}

.circle2 :hover {
    background-color: rgb(241, 169, 68);
    color: rgb(48, 31, 3);
}


@media (min-width: 801px) and (max-width: 1200px) {
    .profile-introduce { padding-top: 20%; }
    .mobile-insta {
        background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    }
    .mobile-git {
        background-color: black;
    }
}

@media (min-width: 1px) and (max-width: 800px) {
    .profile-introduce { padding-top: 50%; }
    .mobile-insta {
        background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    }
    .mobile-git {
        background-color: black;
    }
    .my-profile {
        animation: fadein 2s;
        width: 50vw;
        margin: 0 auto;
    }
    .profile-title {
        width: 50vw;
        margin: 0 auto;
    }
    ul > li {
        list-style-type: none;
        border: 1px solid #eee;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        float: left;
        line-height: 20px;
        font-size: 10px;
        margin-right: 5px;
    }
}

@media (min-width: 1px) and (max-width: 500px) {
    
}